@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&family=Open+Sans:ital,wght@0,300;0,400;0,800;1,400;1,800&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  background-color: #E4E4E4;
}

body {
  font-family: "Open Sans", sans-serif;
}

body > header {
  width: 100%;
}
body > header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 3px 0;
  border-radius: 6px;
  background: none;
  box-shadow: none;
}
@media screen and (min-width: 768px) {
  body > header .container {
    margin: 1rem 2rem;
  }
}
@media screen and (min-width: 992px) {
  body > header .container {
    width: 960px;
    margin: 10px auto;
  }
}
@media screen and (min-width: 992px) {
  body > header .container {
    flex-direction: row;
  }
}
body > header .container .menu-icon {
  cursor: pointer;
  padding: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  align-self: flex-start;
  background: #444444;
  opacity: 0.4;
  border-radius: 6px;
}
@media screen and (min-width: 992px) {
  body > header .container .menu-icon {
    display: none;
  }
}
body > header .container .menu-icon .navicon {
  background: #E4E4E4;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}
body > header .container .menu-icon .navicon:before,
body > header .container .menu-icon .navicon:after {
  background: #E4E4E4;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
body > header .container .menu-icon .navicon:before {
  top: 6px;
}
body > header .container .menu-icon .navicon:after {
  top: -6px;
}
body > header .container .menu-btn {
  display: none;
}
body > header .container .menu {
  display: none;
  transition: max-height 0.5s ease-out;
}
@media screen and (min-width: 992px) {
  body > header .container .menu {
    display: flex;
  }
  body > header .container .menu a {
    text-decoration: none;
    padding: 5px;
    color: #444444;
    font-size: 0.9rem;
    font-weight: 800;
    border-radius: 6px;
    margin: 15px;
  }
  body > header .container .menu a:hover {
    background: #444444;
    color: #E4E4E4;
  }
}
body > header .container .menu-btn:checked ~ .menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 6px;
}
body > header .container .menu-btn:checked ~ .menu a {
  display: block;
  text-decoration: none;
  padding: 10px 30px;
  color: #444444;
  font-size: 0.9rem;
  font-weight: 400;
  border-radius: 6px;
}
body > header .container .menu-btn:checked ~ .menu a:hover {
  background: #444444;
  color: #E4E4E4;
}
body > header .container .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
body > header .container .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
body > header .container .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
body > header .container .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
body > header .container .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.logo {
  text-decoration: none;
  background: #FC4887;
  font-size: 2.75rem;
  color: #E4E4E4;
  letter-spacing: 0.2rem;
  border-radius: 6px;
  padding: 5px 10px;
  font-family: "Oleo Script", cursive;
}
@media screen and (min-width: 768px) {
  .logo {
    font-size: 3.25rem;
  }
}
@media screen and (min-width: 992px) {
  .logo {
    margin-top: 0;
  }
}

.logo-by {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 800;
  color: #444444;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .logo-by {
    flex-grow: 1;
  }
}

.title .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 3px 0;
  border-radius: 6px;
  padding: 1rem;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .title .container {
    margin: 1rem 2rem;
  }
}
@media screen and (min-width: 992px) {
  .title .container {
    width: 960px;
    margin: 10px auto;
  }
}
@media screen and (min-width: 768px) {
  .title .container {
    font-size: 1.5rem;
  }
}
.title .container .title__box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media screen and (min-width: 992px) {
  .title .container .title__box {
    flex-direction: row;
  }
}
.title .container .title__box .title_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .title .container .title__box .title_text {
    padding: 1em;
  }
}
@media screen and (min-width: 992px) {
  .title .container .title__box .title_text {
    flex-grow: 1;
    align-items: flex-start;
    justify-content: space-between;
  }
}
.title .container .title__box .title_text .verti {
  font-size: 2em;
  font-weight: 800;
  margin-top: 1rem;
}
@media screen and (min-width: 992px) {
  .title .container .title__box .title_text .verti {
    margin: 0;
  }
}
.title .container .title__box .title_text .verti__description {
  font-size: 1.4em;
  font-weight: 300;
  margin-top: 1rem;
  text-align: center;
  line-height: 2.5rem;
}
@media screen and (min-width: 992px) {
  .title .container .title__box .title_text .verti__description {
    margin: 0;
    text-align: left;
  }
}
.title .container .buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media screen and (min-width: 768px) {
  .title .container .buttons {
    padding: 1em;
  }
}
@media screen and (min-width: 992px) {
  .title .container .buttons {
    width: 450px;
    justify-content: space-between;
  }
}
.title .container .buttons .button {
  width: 100%;
  border-radius: 6px;
  font-size: 1.2em;
  font-weight: 800;
  text-align: center;
  padding: 16px;
  background: #1691C3;
  color: #E4E4E4;
  display: flex;
  justify-content: center;
  margin: 0;
}
.title .container .buttons .button__icon {
  padding: 0 10px;
}
@media screen and (min-width: 992px) {
  .title .container .buttons .button {
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
.title .container .buttons .button__light {
  background: #E4E4E4;
  color: #444444;
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 3px 0;
  border-radius: 6px;
  background: none;
  flex-direction: row;
  box-shadow: none;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .articles {
    margin: 1rem 2rem;
  }
}
@media screen and (min-width: 992px) {
  .articles {
    width: 960px;
    margin: 10px auto;
  }
}

.row {
  display: flex;
  border-radius: 6px;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.row .info-article {
  display: flex;
  flex-direction: column;
  background: white;
  margin: 1rem 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 3px 0;
  border-radius: 6px;
  align-items: flex-start;
}
.row .info-article .article__img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 6px 6px 0 0;
}
.row .info-article .article__title {
  font-weight: 800;
  font-size: 1.3rem;
  padding: 30px 15px 15px 15px;
}

.article__subtitle,
.article__text,
.about__text {
  font-size: 0.9rem;
  opacity: 0.5;
  padding: 0 15px 30px 15px;
  line-height: 1.6rem;
}

[class^=col-] {
  min-height: 1px;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .col-1 {
    width: calc(8.3333333333% - 1rem);
  }

  .col-2 {
    width: calc(16.6666666667% - 1rem);
  }

  .col-3 {
    width: calc(25% - 1rem);
  }

  .col-4 {
    width: calc(33.3333333333% - 1rem);
  }

  .col-5 {
    width: calc(41.6666666667% - 1rem);
  }

  .col-6 {
    width: calc(50% - 1rem);
  }

  .col-7 {
    width: calc(58.3333333333% - 1rem);
  }

  .col-8 {
    width: calc(66.6666666667% - 1rem);
  }

  .col-9 {
    width: calc(75% - 1rem);
  }

  .col-10 {
    width: calc(83.3333333333% - 1rem);
  }

  .col-11 {
    width: calc(91.6666666667% - 1rem);
  }

  .col-12 {
    width: calc(100% - 1rem);
  }
}
.about {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 3px 0;
}
.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 3px 0;
  border-radius: 6px;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .about__container {
    margin: 1rem 2rem;
  }
}
@media screen and (min-width: 992px) {
  .about__container {
    width: 960px;
    margin: 10px auto;
  }
}
@media screen and (min-width: 992px) {
  .about__container {
    flex-direction: row-reverse;
  }
}

.about__article, .stuff__article {
  padding: 0 16px;
}

.about__title, .stuff__title {
  display: block;
  font-size: 1.1rem;
  font-weight: 800;
  padding: 32px 0;
}

.about__text {
  padding: 16px 0;
}

.button {
  width: 100%;
  border-radius: 6px;
  font-size: 1.2em;
  font-weight: 800;
  text-align: center;
  padding: 16px;
  background: #1691C3;
  color: #E4E4E4;
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 32px 0;
}
.button__icon {
  padding: 0 10px;
}
@media screen and (min-width: 992px) {
  .button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.line {
  width: calc(100% - 32px);
  height: 1px;
  background: #444444;
  opacity: 0.3;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .line {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .about__title {
    font-size: 1.5rem;
  }
}

.stuff__container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
@media screen and (min-width: 992px) {
  .stuff__container {
    width: 285px;
  }
}
.stuff__container .stuff__img {
  width: calc(50% - 5px);
  border-radius: 6px;
}

.foot__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 3px 0;
  border-radius: 6px;
  background: none;
  margin: 32px;
  box-shadow: none;
}
@media screen and (min-width: 768px) {
  .foot__container {
    margin: 1rem 2rem;
  }
}
@media screen and (min-width: 992px) {
  .foot__container {
    width: 960px;
    margin: 10px auto;
  }
}
@media screen and (min-width: 768px) {
  .foot__container {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 16px;
  }
}
.foot__container .foot__box {
  width: 100%;
  margin: 16px 0;
}
@media screen and (min-width: 768px) {
  .foot__container .foot__box {
    width: 50%;
  }
}
@media screen and (min-width: 992px) {
  .foot__container .foot__box {
    width: 25%;
  }
}
.foot__container .line {
  width: 100%;
  height: 1px;
  background: #444444;
  opacity: 0.3;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .foot__container .line {
    display: none;
  }
}
.foot__title {
  display: block;
  font-size: 1.1rem;
  font-weight: 800;
  padding-bottom: 30px;
}

.foot__social {
  display: flex;
  gap: 7px;
  margin-bottom: 30px;
}
.foot__social .foot__icon {
  font-size: 1.3rem;
  padding: 7px;
  color: #E4E4E4;
  background: #444444;
  border-radius: 6px;
}

footer a, footer .copy, footer .address {
  font-size: 0.9rem;
  font-weight: 300;
  color: #444444;
  opacity: 0.5;
  line-height: 1.6rem;
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 3px 0;
  border-radius: 6px;
  background: none;
  margin: 32px;
  box-shadow: none;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .copyright {
    margin: 1rem 2rem;
  }
}
@media screen and (min-width: 992px) {
  .copyright {
    width: 960px;
    margin: 10px auto;
  }
}
@media screen and (min-width: 768px) {
  .copyright {
    flex-direction: row;
    padding: 16px;
    justify-content: center;
  }
}
/*# sourceMappingURL=main.css.map */
