@use "sass:math";

.articles {
  @include container;
    background: none;
    flex-direction: row;
    box-shadow: none;
    justify-content: space-between;

}

.row {
  //width: 100%;
  display: flex;
  border-radius: $default-radius;
  flex-wrap: wrap;
  box-sizing: border-box;

  .info-article {
    display: flex;
    flex-direction: column;
    background: white;
    margin: 1rem 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0 0 3px 0;
    border-radius: $default-radius;
    align-items: flex-start;


    .article__img {
      width: 100%;
      object-fit: contain;
      border-radius: 6px 6px 0 0;
    }

    .article__title {
      font-weight: 800;
      font-size: 1.3rem;
      padding: 30px 15px 15px 15px;
    }
  }
}
.article__subtitle,
.article__text,
.about__text {
  font-size: 0.9rem;
  opacity: 0.5;
  padding: 0 15px 30px 15px;
  line-height: 1.6rem;
}

$columns: 12;
$column-base-width: math.div(100%, $columns);

[class^='col-'] {
  min-height: 1px;
  width: 100%;
}
@include desktop {
  @for $i from 1 through $columns {
    .col-#{$i} {
      width: calc($column-base-width * $i - 1rem);
    }
  }
}
