.title {
  .container {
    @include container;
    padding: 1rem;
    font-size: 1rem;
    @include tablet {
      font-size: 1.5rem;
    }

    .title__box {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1em;
      @include desktop {
        flex-direction: row;
      }
      .title_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include tablet {
          padding: 1em;
        }

        @include desktop {
          flex-grow: 1;
          align-items: flex-start;
          justify-content: space-between;
        }

        .verti {
          font-size: 2em;
          font-weight: 800;
          margin-top: 1rem;
          @include desktop {
            margin: 0;
          }
        }

        .verti__description {
          font-size: 1.4em;
          font-weight: 300;
          margin-top: 1rem;
          text-align: center;
          line-height: 2.5rem;
          @include desktop {
            margin: 0;
            text-align: left;
          }
        }
      }
    }
    .buttons {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1em;


      @include tablet {
        padding: 1em;
      }
      @include desktop {
        width: 450px;
        justify-content: space-between;

      }
      .button {
        @include button;
        margin: 0;
        @include desktop {
          justify-content: space-between;
          flex-direction: row-reverse;
          }

        &__light {
          background: $color-background;
          color: $color-text;
        }
      }
    }
  }
}