.title {
  .container {
    @include container;
    padding: 0 15px;

    .verti {
      font-size: 2rem;
      font-weight: 800;
      margin-top: 30px;
    }

    .verti__description {
      font-size: 1.4rem;
      font-weight: 300;
      text-align: center;
      margin: 20px 10px;
    }

    .button {
      @include button;

      &__light {
        background: $color-background;
        color: $color-text;
      }
    }
  }
}